/* 
-------Typography System
-- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 58 / 62 / 74 / 86 / 98

-- Font Weights
Default: 400

-- Line Heights 
Default: 1 

--------Colors
Main Color: #3451e5
Tints:#fff6e6
Shades:
Accents:
Greys:#555 #333

--------Shadows

--------Border-Radius

--------White Space

--------Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 9.8rem 0rem;
}
.heading {
  padding: 0 6rem;
}
.heading_of_section {
  font-size: 2.5rem;
  font-weight: 700;
  color: #5d74e5;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 2rem;
}
.heading_underline {
  width: 3rem;
  height: 5px;
  background-color: #6a97f0;
  border-radius: 5px;
  /* top: 3rem; */
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

/* ------Hero Section--------------------------------------------------------------------- */
.header {
  display: flex;
  max-width: 130rem;
  /* margin: 0 auto 7rem auto; */
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 5rem;
}
.logo {
  display: inline-block;
  width: 4rem;
}

.Resume_link:link,
.Resume_link:visited {
  text-decoration: none;
  color: #213dca;
  transition: all 0.4s;
}
.Resume_link:hover,
.Resume_link:active {
  color: #fff;
}
.Resume_button {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  background-image: linear-gradient(to bottom right, #b3f3fb, #1adaf2);
  border-radius: 8px;
  transition: transform 1s;
}
.Resume_button:hover {
  background-image: linear-gradient(
    to bottom right,
    #ffcfd2,
    #f1c0e8,
    #cfbaf0,
    #a3c4f3
  );
}
.Resume_button:hover .Resume_link {
  color: #000000;
}
.Download_icon {
  color: #213dca;
  transition: all 0.4s;
}
.Resume_button:hover .Download_icon {
  color: #000000;
}
.first_page {
  padding: 4.8rem 0rem 8rem 0rem;
}
.hi {
  color: #4661e9;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
h1 {
  font-weight: 600;
  font-size: 8rem;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 3rem;
}
h2 {
  font-weight: 600;
  font-size: 5.5rem;
  color: #666;
  letter-spacing: -1px;
  margin-bottom: 3rem;
}
.hero_img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
/* .hero_text_box{
} */
.hero {
  display: grid;
  gap: 7rem;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  align-items: center;
  padding: 7.8rem 5rem;
  margin: 0 auto;
}
/* .hero_box{
}
.section_hero{
  
} */
.first_page {
  overflow: hidden;
  position: relative;
}
.blue_square {
  height: 90rem;
  width: 90rem;
  /* bottom: 25%;
  left: 68%; */
  top: -30rem;
  left: 98rem;
  z-index: -2;
  border-radius: 5rem;
  transform: rotate(45deg);
  display: inline;
  background-color: #6a97f0;
  position: absolute;
}

/* --------Cards Section--------------------------------------------------------------------------- */
.description_of_section {
  /* max-width: 128rem; */
  /* margin: 0 11.4rem; */
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0 auto;
  max-width: 126rem;
  text-align: justify;
  padding: 0 5rem;
}
.section_cards {
  /* background-image: url("images/Vector.png");
  background-size: 90rem 50rem;
  background-position: center;
  background-repeat: no-repeat; */
  padding: 4.8rem 0 9.8rem 0;
}
.icon_ball {
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(to bottom right, #88acf3, #5579c0);
  border-radius: 50%;
  margin-bottom: 2rem;
  box-shadow: 
  /* Logo shadow */ 0px 0px 2px #5f5f5f,
    /* Offset */ 0px 0px 0px 5px #ecf0f3,
    /* Bottom-right */ 8px 8px 15px #a7aaaf,
    /* Top-Left */ -8px -8px 15px #ffffff;
}
.roles_skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  padding: 0 6rem;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  padding: 3rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1.2rem 2.4rem;
  transition: all 0.5s ease;
  background-color: rgb(255, 255, 255);
  background-image: none;
  /* backdrop-filter: blur(5px); */
}
.card:hover {
  transform: translate(0, -2rem);
}
.card_icon {
  height: 50%;
  width: 50%;
  display: inline-block;
  margin: 25% 25%;
  color: #fff;
}
.roles_skills_heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.2rem;
}
.roles_skills_description {
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  color: #444;
  /* text-align: justify; */
  word-spacing: 1;
  margin-bottom: 4rem;
  line-height: 1.5;
}
.skills_heading,
.dev_tools {
  color: #9662e8;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.card_list_item {
  list-style-type: none;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #444;
  margin-bottom: 0.8rem;
}
.skills {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #444;
  margin-bottom: 4rem;
}
.card_items_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------Certificate Section----------------------------------------------------------------------- */

.section_certificate_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
  position: relative;
  padding: 0 6rem;
  width: 0 auto;
}
.certificate_box {
  width: 100%;
  height: 24.5rem;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1.2rem 1.8rem;
  overflow: hidden;
}
.certificate_img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.certificate_img:hover {
  transform: scale(1.06);
}

/* ---------TCS NQT Section---------------------------------------------------------------------- */

.score_card_1 img {
  width: 100%;
}
.score_card_2 img {
  width: 100%;
}

.score_card_imgs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  align-items: center;
}

/* ---------Project Section---------------------------------------------------------------------- */

.recent_freelance_box1 {
  /* margin: 0 auto 12rem auto; */
  width: 45rem;
  height: 25rem;
  background-image: url("images/pcpa_vizag_project.png");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
  margin: auto auto;
}
.recent_work_box1 {
  /* margin: 0 auto 12rem auto; */
  width: 45rem;
  height: 25rem;
  background-image: url("images/Recent_work_img.jpg");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
  margin: auto auto;
}
.recent_work_box2 {
  /* margin: 0 auto 12rem auto; */
  width: 45rem;
  height: 25rem;
  background-image: url("images/Fly_Buy_Website.png");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
  margin: auto auto;
}
.recent_work_box3 {
  /* margin: 0 auto 12rem auto; */
  width: 45rem;
  height: 25rem;
  background-image: url("images/VR_Website_project.png");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
  margin: auto auto;
}
.recent_work_box4 {
  /* margin: 0 auto 12rem auto; */
  width: 45rem;
  height: 25rem;
  background-image: url("images/2nd_portfolio_website.png");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
  margin: auto auto;
}
.recent_work_box1:hover,
.recent_work_box2:hover,
.recent_work_box3:hover,
.recent_work_box4:hover {
  border-radius: 1rem;
}
.description_of_section {
  margin-bottom: 4rem;
}
.clip_path {
  width: 100%;
  height: 100%;
  /* div only appears with width and height specified */
  background: linear-gradient(to bottom right, #5390d9, #64dfdf);
  clip-path: circle(0% at 0 0);
  transition: all 0.7s;
  border-radius: 1rem;
  overflow: hidden;
}
.clip_path a {
  text-decoration: none;
}
.recent_work_box1:hover .clip_path,
.recent_work_box2:hover .clip_path,
.recent_work_box3:hover .clip_path,
.recent_work_box4:hover .clip_path,
.recent_freelance_box1:hover .clip_path {
  clip-path: circle(150% at 0 0);
}
/* .recent_work_img{
  width: 100%;
  height: 100%;
} */
.clip_path_link {
  font-family: "Jost", "Roboto", "Rubik";
  font-weight: 500;
  font-size: 3rem;
  font-style: italic;
  color: rgb(26, 59, 132);
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 22.5%;
  text-align: center;
}
.recent_work_box1:hover .clip_path_link,
.recent_work_box2:hover .clip_path_link,
.recent_work_box3:hover .clip_path_link,
.recent_work_box4:hover .clip_path_link,
.recent_freelance_box1:hover .clip_path_link {
  animation: swing 3s linear 0s infinite;
}

@keyframes swing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.blender_work,
.recent_work_container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8rem;
}
.recent_work_only1box_container {
  margin: auto auto;
  margin-bottom: 12rem;
}
.recent_work_container {
  margin-bottom: 12rem;
}
.blender_work img {
  width: 45rem;
  height: 25rem;
  margin: 0 auto;
  display: block;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
}
.blender_box video {
  width: 45rem;
  height: 25rem;
  margin: 0 auto;
  display: block;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.167) 0px 1.4rem 2.4rem;
}
.blender_work_headings,
.recent_website_headings {
  font-size: 2rem;
  font-weight: 500;
  color: #444;
  margin: 1.6rem auto 0 auto;
  text-align: center;
}
.technologies {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  word-spacing: 0.5rem;
}

/* -------Form Section--------------------------------------------------------------------------------- */

.section_cta {
  margin: 0 auto;
  padding: 18.8rem 6rem;
  background-color: #161623;
  position: relative;
}
.section_cta::before {
  content: "";
  position: absolute;
  clip-path: circle(13% at 88% 72%);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
}
.section_cta::after {
  content: "";
  position: absolute;
  clip-path: circle(9% at 12% 25%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
}

.cta_box {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  border-radius: 2rem;
  margin: 0 auto;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.cta_box::before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 80%;
  left: 67%;
  align-self: center;
  background-color: #fff;
}
.cta_case {
  z-index: 1;
  position: relative;
}
.cta_left {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta_heading {
  font-weight: 600;
  font-size: 4.8rem;
  color: rgba(210, 210, 210);
  margin-bottom: 3rem;
  text-align: center;
}
.cta_description {
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(210, 210, 210);
  margin-bottom: 5rem;
  letter-spacing: 1px;
  line-height: 1.3;
}
.inputs label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(210, 210, 210);
  margin-bottom: 0.5rem;
}
.inputs input,
.inputs select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(210, 210, 210);
  outline: none;
  border: none;
  border-radius: 8px;
  filter: drop-shadow(5px);
}
.inputs input::placeholder {
  color: #666;
}
.inputs button {
  display: block;
  border: none;
  width: 100%;
  padding: 0.6rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(210, 210, 210);
  border-radius: 8px;
  color: #555;
  margin-top: auto;
  cursor: pointer;
  transition: all 0.4s;
}
.inputs button:hover {
  background-color: #fe009e;
  color: #fff;
}
.submit_box {
  padding-top: 2rem;
}
.cta_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}
.cta_buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 4rem 0;
}
.cta_buttons a:link,
.cta_buttons a:visited {
  text-decoration: none;
  color: #555;
  font-size: 6rem;
  padding-top: 0.5rem;
  transition: all 0.4s;
}
.direct_chat {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 7px solid rgba(210, 210, 210);
  background-color: rgba(210, 210, 210);
  margin: auto auto;
  display: grid;
  align-items: center;
  justify-content: center;
}
.direct_chat:hover .chat_1 {
  color: #0c9220;
}
.direct_chat:hover .chat_2 {
  color: #2196f3;
}

/* ---------Fiverr/Linkedin Section--------------------------------------------------------------------- */

.section_support {
  background-color: #161623;
}
.support_box {
  padding: 0 6rem 8.4rem;
  display: grid;
  gap: 4rem;
}
.support_block {
  width: 55%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
}
.support_block::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 17rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1.2rem 3.4rem rgba(255, 255, 255, 0.1);
  transform: rotate(-35deg);
  left: -15rem;
  animation: shine 5s linear infinite;
}
@keyframes shine {
  0% {
    left: -15rem;
    transform: rotate(-35deg);
  }
  100% {
    transform: translateX(90rem) rotate(-35deg);
  }
}
.support_image {
  height: 6rem;
  width: 6rem;
}
.support_text {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
}
.support_text_link:link,
.support_text_link:visited {
  text-decoration: none;
  color: rgba(210, 210, 210);
}
